In [4]:
import pandas as pd 
// Load the dataset
df = pd.read_csv('customer_shopping_behavior.csv')

In [5]:
# Display the first few rows of the dataframe.
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [9]:
#Display the summary information of the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [10]:
# Display statistical summary of the dataframe.
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [11]:
# Display statistical summary of all columns including categorical ones.
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [12]:
# Check for missing values in the dataframe.
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [13]:
# Fill missing values in 'Review Rating' column with the median rating of the respective 'Category'.
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [15]:
# Check for missing values in the dataframe.
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [17]:
# Standardize column names: lowercase.
df.columns = df.columns.str.lower()
# Replace spaces with underscores in column names.
df.columns = df.columns.str.replace(' ', '_')

In [20]:
# Display the column names of the dataframe.
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [22]:
df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'}, inplace=True)
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [25]:
# create a column age_group based on age
labels = ['Young Adult', 'Adult', 'Middle Aged', 'Senior']
# Create age_group using quantiles
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [29]:
# Display the first 10 rows of age and age_group columns.
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19  Young Adult
2   50  Middle Aged
3   21  Young Adult
4   45  Middle Aged
5   46  Middle Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle Aged

In [33]:
df[['previous_purchases', 'frequency_of_purchases']].head(10)

   previous_purchases frequency_of_purchases
0                  14            Fortnightly
1                   2            Fortnightly
2                  23                 Weekly
3                  49                 Weekly
4                  31               Annually
5                  14                 Weekly
6                  49              Quarterly
7                  19                 Weekly
8                   8               Annually
9                   4              Quarterly

In [36]:
# Map frequency_of_purchases to numerical values representing days.
frequency_mapping={
    
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Annually':365,
    'Fortnightly':14,
    'Bi-Weekly':14,
    'Every 3 Months':90,
}
# Create a new column 'purchase_frequency_days' based on the mapping.
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [41]:
# Fill NaN values with -1 before converting to int.
df['purchase_frequency_days'] = df['purchase_frequency_days'].fillna(-1).astype(int)
df[['frequency_of_purchases', 'purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [42]:
df[['discount_applied', 'promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [44]:
# Check if 'discount_applied' matches 'promo_code_used'
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [45]:
# If they match, we can drop one of the columns to avoid redundancy.
df.drop(columns=['promo_code_used'], inplace=True)

In [46]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [ ]:
# Create a cursor object
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp310-cp310-win_amd64.whl.metadata (11 kB)
Downloading mysql_connector_python-9.6.0-cp310-cp310-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 399.6 kB/s eta 0:00:41
   - -------------------------------------- 0.5/16.5 MB 399.6 kB/s eta 0:00:41
   - -------------------------------------- 0.5/16.5 MB 399.6 kB/s eta 0:00:41
   - -------------------------------------- 0.5/16.5 MB 399.6 kB/s eta 0:00:41
   - -------------------------------------- 0.5/16.5 MB 399.6 kB/s eta 0:00:41
   - -------------------------------------- 0.8/16.5 MB 302.2 kB/s eta 0:00:53
   - -------------------------------------- 0.8/16.5 MB 302.2 kB/s eta 0:00:53
   - -------------------------------------- 0.8/16.5 MB 302.2 kB/s eta 0:00:53
   - -------------------------------------- 0.8/16.5 MB 302.2 kB/s eta 0:00:53
   - -------------------------------------- 0.8/16.5 MB 302.2 kB/s eta 0:00:53
   -- ------------------------------------- 1.0/16.5 MB 287.5 kB/s eta 0:00:54
   -- ------------------------------------- 1.0/16.5 MB 287.5 kB/s eta 0:00:54
   -- ------------------------------------- 1.0/16.5 MB 287.5 kB/s eta 0:00:54
   --- ------------------------------------ 1.3/16.5 MB 303.7 kB/s eta 0:00:51
   --- ------------------------------------ 1.6/16.5 MB 352.4 kB/s eta 0:00:43
   --- ------------------------------------ 1.6/16.5 MB 352.4 kB/s eta 0:00:43
   ---- ----------------------------------- 1.8/16.5 MB 394.7 kB/s eta 0:00:38
   ----- ---------------------------------- 2.1/16.5 MB 438.2 kB/s eta 0:00:33
   ----- ---------------------------------- 2.4/16.5 MB 459.6 kB/s eta 0:00:31
   ------ --------------------------------- 2.6/16.5 MB 493.5 kB/s eta 0:00:29
   ------ --------------------------------- 2.6/16.5 MB 493.5 kB/s eta 0:00:29
   ------ --------------------------------- 2.9/16.5 MB 517.8 kB/s eta 0:00:27
   ------- -------------------------------- 3.1/16.5 MB 538.0 kB/s eta 0:00:25
   -------- ------------------------------- 3.4/16.5 MB 564.0 kB/s eta 0:00:24
   -------- ------------------------------- 3.7/16.5 MB 581.5 kB/s eta 0:00:23
   -------- ------------------------------- 3.7/16.5 MB 581.5 kB/s eta 0:00:23
   -------- ------------------------------- 3.7/16.5 MB 581.5 kB/s eta 0:00:23
   -------- ------------------------------- 3.7/16.5 MB 581.5 kB/s eta 0:00:23
   -------- ------------------------------- 3.7/16.5 MB 581.5 kB/s eta 0:00:23
   -------- ------------------------------- 3.7/16.5 MB 581.5 kB/s eta 0:00:23
   --------- ------------------------------ 3.9/16.5 MB 523.1 kB/s eta 0:00:25
   --------- ------------------------------ 3.9/16.5 MB 523.1 kB/s eta 0:00:25
   --------- ------------------------------ 3.9/16.5 MB 523.1 kB/s eta 0:00:25
   --------- ------------------------------ 3.9/16.5 MB 523.1 kB/s eta 0:00:25
   --------- ------------------------------ 3.9/16.5 MB 523.1 kB/s eta 0:00:25
   --------- ------------------------------ 3.9/16.5 MB 523.1 kB/s eta 0:00:25
   ---------- ----------------------------- 4.2/16.5 MB 473.0 kB/s eta 0:00:27
   ---------- ----------------------------- 4.2/16.5 MB 473.0 kB/s eta 0:00:27
   ---------- ----------------------------- 4.2/16.5 MB 473.0 kB/s eta 0:00:27
   ---------- ----------------------------- 4.2/16.5 MB 473.0 kB/s eta 0:00:27
   ---------- ----------------------------- 4.5/16.5 MB 454.2 kB/s eta 0:00:27
   ---------- ----------------------------- 4.5/16.5 MB 454.2 kB/s eta 0:00:27
   ---------- ----------------------------- 4.5/16.5 MB 454.2 kB/s eta 0:00:27
   ----------- ---------------------------- 4.7/16.5 MB 447.0 kB/s eta 0:00:27
   ----------- ---------------------------- 4.7/16.5 MB 447.0 kB/s eta 0:00:27
   ------------ --------------------------- 5.0/16.5 MB 455.5 kB/s eta 0:00:26
   ------------ --------------------------- 5.0/16.5 MB 455.5 kB/s eta 0:00:26
   ------------ --------------------------- 5.2/16.5 MB 466.0 kB/s eta 0:00:25
   ------------ --------------------------- 5.2/16.5 MB 466.0 kB/s eta 0:00:25
   ------------- -------------------------- 5.5/16.5 MB 473.3 kB/s eta 0:00:24
   ------------- -------------------------- 5.5/16.5 MB 473.3 kB/s eta 0:00:24
   ------------- -------------------------- 5.8/16.5 MB 470.4 kB/s eta 0:00:23
   -------------- ------------------------- 6.0/16.5 MB 483.7 kB/s eta 0:00:22
   -------------- ------------------------- 6.0/16.5 MB 483.7 kB/s eta 0:00:22
   --------------- ------------------------ 6.3/16.5 MB 494.1 kB/s eta 0:00:21
   --------------- ------------------------ 6.6/16.5 MB 505.2 kB/s eta 0:00:20
   ---------------- ----------------------- 6.8/16.5 MB 517.8 kB/s eta 0:00:19
   ----------------- ---------------------- 7.3/16.5 MB 545.1 kB/s eta 0:00:17
   ------------------ --------------------- 7.6/16.5 MB 557.9 kB/s eta 0:00:16
   ------------------- -------------------- 8.1/16.5 MB 587.3 kB/s eta 0:00:15
   -------------------- ------------------- 8.7/16.5 MB 617.1 kB/s eta 0:00:13
   ---------------------- ----------------- 9.2/16.5 MB 643.1 kB/s eta 0:00:12
   ---------------------- ----------------- 9.4/16.5 MB 656.8 kB/s eta 0:00:11
   ------------------------ --------------- 10.0/16.5 MB 681.4 kB/s eta 0:00:10
   ------------------------ --------------- 10.2/16.5 MB 693.7 kB/s eta 0:00:10
   -------------------------- ------------- 10.7/16.5 MB 715.5 kB/s eta 0:00:09
   -------------------------- ------------- 10.7/16.5 MB 715.5 kB/s eta 0:00:09
   -------------------------- ------------- 10.7/16.5 MB 715.5 kB/s eta 0:00:09
   --------------------------- ------------ 11.3/16.5 MB 718.3 kB/s eta 0:00:08
   --------------------------- ------------ 11.3/16.5 MB 718.3 kB/s eta 0:00:08
   --------------------------- ------------ 11.3/16.5 MB 718.3 kB/s eta 0:00:08
   --------------------------- ------------ 11.5/16.5 MB 714.3 kB/s eta 0:00:07
   --------------------------- ------------ 11.5/16.5 MB 714.3 kB/s eta 0:00:07
   --------------------------- ------------ 11.5/16.5 MB 714.3 kB/s eta 0:00:07
   ---------------------------- ----------- 11.8/16.5 MB 694.4 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.5 MB 703.6 kB/s eta 0:00:07
   ----------------------------- ---------- 12.3/16.5 MB 711.9 kB/s eta 0:00:06
   ----------------------------- ---------- 12.3/16.5 MB 711.9 kB/s eta 0:00:06
   ----------------------------- ---------- 12.3/16.5 MB 711.9 kB/s eta 0:00:06
   ----------------------------- ---------- 12.3/16.5 MB 711.9 kB/s eta 0:00:06
   ------------------------------ --------- 12.6/16.5 MB 691.1 kB/s eta 0:00:06
   ------------------------------ --------- 12.6/16.5 MB 691.1 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 686.5 kB/s eta 0:00:06
   ------------------------------- -------- 12.8/16.5 MB 686.5 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 687.3 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.5 MB 687.3 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.5 MB 687.3 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.5 MB 687.3 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.5 MB 687.3 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.5 MB 687.3 kB/s eta 0:00:05
   -------------------------------- ------- 13.4/16.5 MB 655.9 kB/s eta 0:00:05
   -------------------------------- ------- 13.4/16.5 MB 655.9 kB/s eta 0:00:05
   -------------------------------- ------- 13.4/16.5 MB 655.9 kB/s eta 0:00:05
   --------------------------------- ------ 13.6/16.5 MB 648.7 kB/s eta 0:00:05
   --------------------------------- ------ 13.9/16.5 MB 655.5 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.5 MB 655.5 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 655.3 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 655.3 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.5 MB 655.5 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.5 MB 655.5 kB/s eta 0:00:04
   ----------------------------------- ---- 14.7/16.5 MB 648.4 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 648.4 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 652.0 kB/s eta 0:00:03
   ------------------------------------- -- 15.5/16.5 MB 665.6 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 673.4 kB/s eta 0:00:02
   ---------------------------------------  16.3/16.5 MB 689.2 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 694.4 kB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [51]:
# Connect to MySQL database
import mysql.connector

# Establish the connection
conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3307,
    user="root",
    password="shafeeque19",
    database="Customer_behavior"
)

In [ ]:
# Create a cursor object
!pip install mysql-connector-python sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\shafeeque haider\appdata\local\programs\python\python310\lib\site-packages (9.6.0)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.46-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.1-cp310-cp310-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shafeeque haider\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading sqlalchemy-2.0.46-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------- ----- 1.8/2.1 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.0 MB/s eta 0:00:00
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading greenlet-3.3.1-cp310-cp310-win_amd64.whl (226 kB)
Installing collected packages: pymysql, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [pymysql]
   ---------------------------------------- 0/3 [pymysql]
   ---------------------------------------- 0/3 [pymysql]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.1 pymysql-1.1.2 sqlalchemy-2.0.46

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Connect to MySQL database and upload the dataframe
import pandas as pd
from sqlalchemy import create_engine

# Create the database engine
engine = create_engine(
    "mysql+pymysql://root:shafeeque19@localhost:3307/Customer_behavior"
)
# Create a table named "customer"
table_name = "customer" 
df.to_sql(table_name, con=engine, if_exists='replace', index=False)
# Verify by reading back the data
pd.read_sql("SELECT * FROM customer LIMIT 5", engine)